<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength = "40960" useFullyQualifiedRedirectUrl="true"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    
  </system.web>
  <appSettings>
    <!--DBConnection-->
    <add key="ConnectionStringDel" value="server=.; database=EDU; uid=sa; pwd=sasa;"/>
    <add key="accessconstr" value="..\DB\EDU.mdb;Persist Security Info=False;"/>
    
    <!--配置参数-->
    
    <!--首页图片数量-->
    <add key="IndexPictureCount" value="10"/>
    <!--首页图片的高度-->
    <add key="IndexPictureHeight" value="250"/>
    
    <!--type说明
    通知公告 1 说明
    中心概况 2
    中心人员 3 图片
    学术讲座 4 链接
    研究成果 5
    资源下载 6 下载
    中心动态 7
    合作机构 8 链接
    科研项目 9-->
  </appSettings>
</configuration>